
h3 h2 {
    font-family: 'Outfit', sans-serif;
}

.navlink {
    color: rgb(139, 139, 139);
    text-decoration: none;
    margin-right: 65px;
}

.navlinkactive {
    color: lightblue;
    text-decoration: none;
    margin-right: 65px;
}

.navlink:hover {
    color: khaki;
}

.navlinkactive:hover {
    color: khaki;
}
footer {
background-color: navajowhite;
width: 100%;
/* margin-top: 50px; */

}

footer div a,
footer p {
color: gray;
text-decoration: none;
}

